<!DOCTYPE html>  

<html lang="en">
	
	<head>
		<meta charset="utf-8" />
		<title>Splash - Signup</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/splashicon.ico" />
		<link rel="stylesheet" type="text/css" href="gStylesheet.css">
		<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>

	<body class="unselectable">
		<center>
			
			<div id='bar'></div>

			<!-- <img src='images/titleBlue.png' id='title'/> -->

			<div id='info' class='selectable'>Sign up for Splash:</div>
			
			<form id="signUp" action="" name="signUpForm" autocomplete="off">
				<input id='name' class='box' type="text" name="name" placeholder="Name" spellcheck='false'><br>
				<input id='user' class='box' type="text" name="user" placeholder="Username" spellcheck='false'><br>
				<input id='email' class='box' type="text" name="email" placeholder="Email address" spellcheck='false'><br>
				<input id='pass' class='box' type="password" name="pass" placeholder="Password"><br>
				<input id='pass2' class='box' type="password" name="pass2" placeholder="Confirm password"><br>
				<div id='radios'>
					<input type="radio" name="type" value="advertiser" checked="checked">I'm an advertiser<br>
					<input type="radio" name="type" value="publisher">I'm a publisher<br>
				</div>
				<div id='goContainer'><div id='goButton' onclick='enter()'>Go</div></div>
			</form><br><br><br><br>

			<div class='selectable'>Got an account? <a href='index.html'>Log in here</a></div>

		</center>
	</body>

</html>
