<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="shortcut icon" type="image/x-icon" href="stylesheets/images/splashicon.ico" />
    <link rel="stylesheet" type="text/css" href="stylesheets/gStylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="stylesheets/Update/stylesheet.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="stylesheets/script.js"></script>
  </head>
<!--   <body class="unselectable">
    <nav class="navbar navbar-default navbar-fixed-top" id='ams_navigation_bar' role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Splash</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">Company</a></li>
            <li><a href="/about/advertisers">Advertisers</a></li>
            <li><a href="/about/publishers">Publishers</a></li>
            <li><a href="/help">Support</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">FunctionalityStuff<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/advertiser/dashboard">Dashboard</a></li>
                <li><a href="/ad/untargeted">Untargeted ad</a></li>
                <li><a href="/ad/targeted">Find ad</a></li>
                <li><a href="/addad">Add an ad</a></li>
                <li><a href="/deletead">Delete an add</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">For Advertisers</a></li>
                <li><a href="#">For Publishers</a></li>
                <li class="divider"></li>
                <li><a href="/signup?type=advertiser">Advertiser Sign Up</a></li>
                <li><a href="/signup?type=publisher">Publisher Sign Up</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <div class = 'main_container'>
      <%- body%>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  </body>
</html>
