html, body { 
	font-family: 'Rokkitt', 'Open Sans', 'Open Sans Condensed', sans-serif;
    background-color: #f9f9f9;
    color: #1ba6df;
    padding: 0;
    margin: 0;
}

a {
    color: #ec9307;
}

#bar {
    background-color: #1ba6df;
    width: 100%;
    height: 3px;
    margin-bottom: 15px;
}

#title {
    margin-bottom: 20px;
}

#info {
    font-size: 25px;
}

#logIn, #signUp {
    margin-top: 10px;
}

.box {
    background-color: #1ba6df;
    color: white;
    border: none;
    font-family: 'Rokkitt';
    font-size: 25px;
    border-radius: 15px 15px;
    padding-left: 10px;
    height: 50px;
    width: 290px;
    margin-bottom: 5px;
}
input:focus {
    outline: none;
}

#goContainer {
    width: 300px;
}
#goButton {
    float: right;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    line-height: 50px;
    font-size: 25px;
    background-color: #1ba6df;
    cursor: pointer;
    color: white;
}

#radios {
    width: 290px;
    text-align: left;
}


/*** Some other stuff ***/
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.selectable {
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
}

::selection {
  background: #feffaf;
}
::-moz-selection {
  background: #feffaf;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #f5f5f5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #f5f5f5;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #f5f5f5;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #f5f5f5;
}