<% layout('../layout') -%>

<script type="text/javascript" src="stylesheets/Update/script.js"></script>
<script type="text/javascript" src="stylesheets/data.js"></script>

<div id='bar'></div>

<div id='pageContainer'>

	<!-- * Variable names: title, storeName, pic, summary, latitude, longitude, radius, url, numAds -->
	<form id = 'formContainer' action='/ad/create' method='post'>

    <input type='hidden' name='_csrf' value='<%=csrfToken%>'>
		<center id='header'>Customize Your Circle</center>

		<div id='details' class='formHeader'>

			<div id='formName'>
				<div class='formDescription'>Circle Name:</div>
				<input id='user' class='box' type="text" name="title" placeholder="Name.." required>
			</div>

			<br>

			<div id='formName'>
				<div class='formDescription'>Business Name:</div>
				<input id='user' class='box' type="text" name="storeName" placeholder="Co. name..." required>
			</div>

			<br>

			<div id='formName'>
				<div class='formDescription'>Location Radius:</div>
				<div class='slideLabel' id='listenVal'> &nbsp; 3 mi</div>
		    <input type="range" class="slider" name="radius" id="listensSlider" value="3" min="0" max="10" onchange="updateSlider(value, 1)">
			</div>

			<br>
	
			<!-- TODO: GOOGLE MAPS DO NOT SHOW, NEED TO EXTRACT VALUE BY NAME: latitude, longitude -->
			<div id='mapCanvas'></div>
			<div id='mapInfo'></div>


			<div id='formName'>
				<div class='formDescription'>Customize your ad:</div>
				<div><textarea id='summary' name="summary" placeholder='Enter a summary...'></textarea></div>
			</div>

			<br>
				
			<div id='formName'>
				<div class='formDescription'>Upload a photo:</div>
				<input type="file" name="pic" id="browse" accept="image/*">
			</div>

			<br>

			<div id='formName'>
				<div class='formDescription'>URL:</div>
				<input id='user' class='box' type="text" name="url" placeholder="www..">
			</div>

			<br>	

			<div id='formName'>
				<div class='formDescription'># of Ads:</div>
				<input type='number' id='costBox' class='smallBox' name='numAds' required>
			</div>

			<br>
			
			<div ><input type='submit' value='Submit' class='button'></input></div>
			<a href='/Dashboard'><div class='button'>Cancel</div></a>

			<br><br>

		</div>
	</form>

</div>



