<% layout('../layout') -%>
<div class='main wrapper'>
	<div class='container'>
	    <form action='/ad/targetad' method='post'>
	    	<input type='hidden' name='_csrf' value='<%=csrfToken%>'><br><br>

	    	<h1> Find an ad</h1>
	    	<input type='radio' name='targeting_info[sex]' value='0' checked='checked'>Unspecified<br>
   	        <input type='radio' name='targeting_info[sex]' value='1'>Male<br>
	        <input type='radio' name='targeting_info[sex]' value='2'>Female<br>

	        <input type='radio' name='targeting_info[age]' placeholder='age' value='0' checked='checked'>Unspecified<br>
	        <input type='radio' name='targeting_info[age]' placeholder='age' value='1'>0~18<br>
	        <input type='radio' name='targeting_info[age]' placeholder='age' value = '2'>19~25<br>
	        <input type='radio' name='targeting_info[age]' placeholder='age' value = '3'>25~35<br>
	        <input type='radio' name='targeting_info[age]' placeholder='age' value = '4'>35~45<br>
	        <input type='radio' name='targeting_info[age]' placeholder='age' value = '5'>45~55<br>
	        <input type='radio' name='targeting_info[age]' placeholder='age' value = '6'>55~<br>

	        <input type='radio' name='targeting_info[time]' placeholder='time' value='0' checked='checked'>Unspecified<br>
	        <input type='radio' name='targeting_info[time]' placeholder='time' value='1'>0:00~4:00<br>
	        <input type='radio' name='targeting_info[time]' placeholder='time' value = '2'>4:00~8:00<br>
	        <input type='radio' name='targeting_info[time]' placeholder='time' value = '3'>8:00~12:00<br>
	        <input type='radio' name='targeting_info[time]' placeholder='time' value = '4'>12:00~16:00<br>
	        <input type='radio' name='targeting_info[time]' placeholder='time' value = '5'>16:00~20:00<br>
	        <input type='radio' name='targeting_info[time]' placeholder='time' value = '6'>20:00~24:00<br>

	        <input type='number' name='targeting_info[loc]' placeholder='loc(x)'> 
	        <input type='number' name='targeting_info[loc]' placeholder='loc(y)'> 
	       
	        <input type='submit'></input>
	    </form>
	</div>
</div>