html, body { 
	font-family: 'Rokkitt' 'Open Sans', 'Open Sans Condensed', sans-serif;
    color: #1ba6df;
    background-color: white;
    padding: 0;
    margin: 0;
}

a {
	color: #eaa02c;
}

#bar {
    background-color: #1ba6df;
    width: 100%;
    height: 3px;
    margin-bottom: 15px;
}

#title {
    margin-bottom: 20px;
}

#info {
	font-size: 25px;
	margin-bottom: 20px;
}

#mapCanvas {
    width: 60%;
    height: 300px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0;
}

#data {
	width: 30%;
	font-size: 20px;
	min-width: 300px;
	text-align: left;
}

.formDescription {
    display: inline-block;
}

.smallBox {
    background-color: #1ba6df;
    color: white;
    border: none;
    font-family: 'Rokkitt';
    font-size: 20px;
    border-radius: 15px 15px;
    padding-left: 10px;
    height: 30px;
    width: 70px;
    margin-bottom: 5px;
    float: right;
}

#to {
    display: inline-block;
    float: right;
    height: 30px;
    line-height: 30px;
}

#radios {
	float: right;
	margin-right: -30px;
}

#goButton {
    height: 50px;
    width: 150px;
    border-radius: 15px;
    line-height: 50px;
    font-size: 25px;
    background-color: #1ba6df;
    cursor: pointer;
    color: white;
}

#phoneWrapper {
	width: 100%;
	margin-top: 40px;
	padding-top: 10px;
	background-color: #1ba6df;
	position: relative;
}

#ad {
	width: 227px;
	min-height: 30px;
	border-radius: 10px;
	padding: 4px 8px;
	font-size: 16px;
	font-weight: 500;
	font-family: Arial;
	top: 300px;
	position: absolute;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.selectable {
	-moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
}


::selection {
  background: #feffaf;
}
::-moz-selection {
  background: #feffaf;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #f5f5f5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #f5f5f5;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #f5f5f5;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #f5f5f5;
}