html, body { 
    font-family: 'Rokkitt', 'Open Sans', 'Open Sans Condensed', sans-serif;
    background-color: #f9f9f9;
    color: #1ba6df;
    padding: 0;
    margin: 0;
}

a {
    color: #1ba6df;
    text-decoration: none;
}
p {
    color: #ec9307;
    margin: 0;
}

#bar {
    background-color: #1ba6df;
    width: 100%;
    height: 3px;
    margin-bottom: 15px;
}

#title {
    margin-bottom: 20px;
}

#pageContainer {
    width: 65%;
    margin: 0 auto;
}

#circleTable{
    border: 2px solid #1ba6df;
    margin-bottom: 5px;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}
#titleRow {
    font-size: 1.5em;
    background-color: #1ba6df;
    color: white;
    width: 100%;
}
#headerRow {
    font-size: 1.2em;
    border: 2px solid #1ba6df;
    font-weight: bold;
}
.costCol {
    text-align: right;
}
th, td {
    padding: 2px;
}
tr {
    border-bottom: 1px solid #1ba6df;
}
.location {
    cursor: pointer;
}
.selectedRow {
    background-color: #1ba6df;
    color: white;
}

#locationButton {
    height: 25px;
}
.Button {
    font-size: 1.1em;
    margin-top: -5px;
    height: 25px;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
}
.button {
    width: 25px;
}
#newButton {
    margin-bottom: 10px;
}


#mapCanvas {
    width: 100%;
    height: 300px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

#analysis {
    font-size: 1.5em;
    margin-bottom: 25px;
}

#chartHolder {
    width: 100%;
    margin-bottom: 50px;
}

#stats {
    width: 470px;
    margin-top: 20px;
    font-size: 1.3em;
}
.stat {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}
.selectedStat {
    background-color: #f1f1f1;
}
.seperator {
    height: 35px;
    width: 1px;
}
#statDescription {
    width: 100%;
    font-size: 1.5em;
}
#topButton {
    margin-top: 10px;
}


/*** Some other stuff ***/
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.selectable {
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
}

::selection {
  background: #feffaf;
}
::-moz-selection {
  background: #feffaf;
}