a {
    color: #1ba6df;
    text-decoration: none;
}

#pageContainer {
    width: 65%;
    margin: 0 auto;
}

#header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#formContainer {
    width: 80%;
    margin: 0 auto;
}

.formHeader {
    font-size: 1.3em;
}

.formDescription {
    font-size: 0.9em;
    margin-left: 30px;
    display: inline-block;
}

.box {
    background-color: #1ba6df;
    color: white;
    border: none;
    font-family: 'Rokkitt';
    font-size: 20px;
    border-radius: 15px 15px;
    padding-left: 10px;
    height: 30px;
    width: 170px;
    margin-bottom: 5px;
    float: right;
}
.smallBox {
    background-color: #1ba6df;
    color: white;
    border: none;
    font-family: 'Rokkitt';
    font-size: 20px;
    border-radius: 15px 15px;
    padding-left: 10px;
    height: 30px;
    width: 70px;
    margin-bottom: 5px;
    float: right;
}
#costBox {
    float: none;
}
input:focus {
    outline: none;
}
#to {
    display: inline-block;
    float: right;
    height: 30px;
    line-height: 30px;
}

.slideLabel {
    width: 45px;
    float: right;
    display: inline-block;
}

#radios, #checksLeft, #checksRight {
    float: right;
    margin-left: 5px;
    display: inline-block;
}

#mapLink {
    float: right;
    font-size: .9em;
    color: #ec9307;

}

.button {
    text-align: center;
    margin-left: 5px;
    background-color: #1ba6df;
    color: white;
    cursor: pointer;
    border-radius: 15px 15px;
    height: 30px;
    line-height: 30px;
    width: 100px;
    margin-bottom: 5px;
    float: right;
}
.note {
    font-size: .7em;
}

#mapCanvas {
    width: 100%;
    height: 300px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0;
}

input[type=range] {
    margin-top: 6px;
    float: right;
    -webkit-appearance: none;
    background-color: #1ba6df;
    width: 300px;
    height: 4px;
}
input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #ec9307;
    width: 16px;
    height: 16px;
    border-radius: 8px 8px;
}

